{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "filter" : {
        "expression" : "parentId = :parentId",
        "expressionValues" : {
            ":parentId" : $util.dynamodb.toDynamoDBJson($context.arguments.parentId)
        },
    }
}